
src/ensemble/__pycache__/
src/ensemble/data/
tutorials/build_nn/__pycache__/
tutorials/build_nn/data/
tutorials/tensors/__pycache__/
tutorials/training_model/data

*.pth

tutorials/.DS_Store

tutorials/training_model/__pycache__/

tutorials/training_model/plot.pdf
tutorials/training_model/runs
tutorials/bob_net/MNIST