
src/ensemble/__pycache__/
src/ensemble/data/
tutorials/build_nn/__pycache__/
tutorials/build_nn/data/
tutorials/tensors/__pycache__/
tutorials/training_model/data

*.pth

tutorials/.DS_Store

tutorials/training_model/__pycache__/

tutorials/training_model/plot.pdf
tutorials/training_model/runs
tutorials/bob_net/MNIST
hugging_face/offline_test/models
src/optimizing-params/data
src/embedding/__pycache__/

tutorials/nano_gpt/__pycache__/

tutorials/azure_openai/.env

tutorials/azure_openai/__pycache__/

tutorials/azure_openai/train.jsonl
tutorials/azure_openai/volumes
tutorials/azure_openai/dataset.jsonl

src/open-router-test/.env

src/groq-api-test/.env


hugging_face/sft_trainer/gpt2-trained/


hugging_face/sft_trainer/tmp_trainer

hugging_face/sft_trainer/wandb

hugging_face/sft_trainer/logs

src/ml-adder/__pycache__/

src/ml-adder/.env
src/ml-adder/adnet
hugging_face/adnet/__pycache__/__init__.cpython-311.pyc

hugging_face/adnet/__pycache__/configuration_adnet.cpython-311.pyc

hugging_face/adnet/__pycache__/modeling_adnet.cpython-311.pyc

hugging_face/adnet/__pycache__/

hugging_face/adnet/__pycache__/

src/ml-adder/__pycache__/

src/ml-adder/.env

src/ml-adder/adnet
tutorials/embeddings/__pycache__/

src/grads/__pycache__/
src/grads/data
src/grads/training_report.json

benchmarks/.python-version
benchmarks/__pycache__